<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin Registration</title>
</head>

<body class="container" style="background-color: #eee;">
    <!-- <h1>{{value}}</h1> -->
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Admin Registration</p>
    <form class="mx-1 mx-md-4" method="POST">

        <div class="row g-2">
            <div class="col-lg-6">
                <input type="number" id="form3Example3c" class="form-control" name="person_id" required />
                <label class="form-label" for="form3Example3c">Admin ID*</label>
            </div>

            <div class="col-lg-6">
                <input type="text" id="form3Example3c" class="form-control" name="first_name" required />
                <label class="form-label" for="form3Example3c">First Name*</label>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-lg-6">
                <input type="text" id="form3Example3c" class="form-control" name="middle_name" />
                <label class="form-label" for="form3Example3c">Middle Name</label>
            </div>

            <div class="col-lg-6">
                <input type="text" id="form3Example3c" class="form-control" name="last_name" />
                <label class="form-label" for="form3Example3c">Last Name</label>
            </div>
        </div>


        <div class="row g-2">
            <div class="col-lg-4">
                <input type="number" id="form3Example3c" class="form-control" name="country_code" required />
                <label class="form-label" for="form3Example3c">Country Code*</label>
            </div>

            <div class="form-outline flex-fill mb-0 col-lg-8">
                <input type="number" id="form3Example3c" class="form-control" name="mobile_number" required />
                <label class="form-label" for="form3Example3c">Mobile Number*</label>
            </div>
        </div>

        <div class="form-outline flex-fill mb-0 col-lg-12">
            <input type="email" id="form3Example3c" class="form-control" name="email_id" required />
            <label class="form-label" for="form3Example3c">Email id*</label>
        </div>

        <div class="form-outline flex-fill mb-0 col-lg-12">
            <input type="text" id="form3Example3c" class="form-control" name="profile_photo" />
            <label class="form-label" for="form3Example3c">Profile Photo</label>
        </div>

        <div class="row g-2">
            <div class="form-outline flex-fill mb-0 col-lg-5">
                <input type="text" id="form3Example3c" class="form-control" name="nationality" required />
                <label class="form-label" for="form3Example3c">Nationality*</label>
            </div>

            <div class="form-outline flex-fill mb-0 col-lg-5">
                <input type="text" id="form3Example3c" class="form-control" name="password" required />
                <label class="form-label" for="form3Example3c">Password*</label>
            </div>
        </div>

        <div class="form-outline flex-fill mb-0 col-lg-12">
            <input type="text" id="form3Example3c" class="form-control" name="designation" required />
            <label class="form-label" for="form3Example3c">Designation*</label>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>

    </form>

    <script type="text/javascript">
        window.onload = function () {
            if ('{{ value }}'){
                alert('{{ value }}');
            }
        }
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>

