<div class="container">
  <div class="table-wrapper">
    <table>
        <thead>
      <tr> 
        <div class="card-body column_head">
        <td style="font-weight: bold;"> Job Id</td>
        <td style="font-weight: bold;">Designation</td>
        <td style="font-weight: bold;">Location</td>
        <td style="font-weight: bold;">Current Status</td>
        <td style="font-weight: bold;">More Details</td>
          </div>
      </tr>
    </thead>
        <tbody>
            {% for job in jobDetails %}
        <tr>
          <td> {{job[0]}} </td>
          <td> {{job[1]}} </td>
          <td> {{job[3]}} </td>
          <td> {{job[11]}} </td>
          <td> <a href="/jobs/{{job[0]}}" type="button">See More</a> </td>
          <!-- --- 22 indexes -->
        </tr>
        {% endfor %}

                
        </tbody>
    </table>
  </div>
</div>

<style>
body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #dae2fd);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.container {
  
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.table-wrapper {
  display: inline-block;
}

table {
  
    width: 1000px;
    /* border-collapse: collapse; */
  /* width: 100%; */
  overflow-x: auto;

    /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
}

th,
td {
    /* padding: 5px; */
    background-color: rgba(255,255,255,0.2);
    color: #141414;
}

th {
    text-align: center;
  
}
</style>